<div class="comments" id="comments">

    <script>
        require.config({
            paths : {
                'valine' : '/js/Valine.min',
                'av' : "https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min"
            }
        })
        require(['valine'], function(Valine) {
            new Valine({
                el: '#comments' ,
                notify: '<%=theme.valine.notify %>',
                verify: '<%=theme.valine.verify %>',
                appId: '<%=theme.valine.appid%>',
                appKey: '<%=theme.valine.appkey%>',
                placeholder: '<%=theme.valine.placeholder%>',
                avatar: '<%=theme.valine.avatar%>',
                pageSize: '<%=theme.valine.pageSize%>' || 10
            });
        });
    </script>
</div>
